.TrackOrderMain{
	padding: 15px;
	display: grid;
	grid-template-columns: auto auto;
}
.TrackOrderList{
	padding:20px;
	margin-top: 20px;
}
#message-of-no-order{
	display: grid;
	justify-content: center;
	font-size: 2.4em;
	font-style: italic;
	opacity: 50%;
}
#spinner{
	display: grid;
	justify-content: center;
}