.footer-class {
  display: grid;
  padding: 3px;
  background-color: rgb(17, 13, 12);
  color: white;
  grid-template-columns: auto auto auto;
}
#footer-contact {
  display: grid;
  justify-content: center;
}
#footer-developer {
  display: grid;
  justify-content: center;
}
#footer-right {
  display: grid;
  justify-content: center;
}
