.header {
  font-family: "Festive", cursive;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-row-gap: 30px;
  background-color: black;
}

img {
  height: 150px;
  width: 150px;
}
.header-logo {
  display: grid;
  justify-content: end;
  padding-top: 5px;
  padding: 5px;
}
.header-title {
  font-family: "Festive", Monaco;
  display: grid;
  align-content: center;
  color: rgb(161, 15, 15);
  justify-content: start;
  font-size: 4em;
}
.header-title>a{
  color:white;
  padding: 10px;
}
.header-title>div{
  font-size: 0.8em;
}
.header-trackOrder {
  font-family: none;
  display: grid;
  justify-content: start;
  align-content: center;
}
